@model SimpleProject.Models.Portfolio


<h1>Contact page</h1>
<div class="containererer" style="width:40%;">

    <form class="form" method="post">



        <div class="row" style="margin-top:40px;">
            <div class="col mb-60">
                <label class="form-control" asp-for="Name"></label>
                <input disabled type="text" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="form-control text-danger"></span>
            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col mb-60">
                <label class="form-control" asp-for="Email"></label>
                <input disabled type="email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="form-control text-danger"></span>
            </div>
        </div>
        <div class="row mt-30" style="margin-top:20px;">
            <div class="col">
                <label class="form-control" asp-for="Comment"></label>
                <input disabled type="text" class="form-control" asp-for="Comment" />
                <span class="form-control text-danger" asp-validation-for="Comment"></span>
            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col">
                <button class="btn btn-primary" type="submit">Delete</button>
            </div>
        </div>

    </form>
    <a asp-controller="Portfolio" asp-action="AllData"><button class="btn btn-outline-primary">List all data</button></a>

  
</div>
