@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SimpleProject.Models.About




@*
    <h1>The about page</h1>


    <b>
        <p>
            The increment value are:  <span id="inc">9</span>

        </p>
    </b>

    <p>Your guid for a better futuer</p>

    <div>
        <button id="sub" class="btn btn-secondary">Increment</button>
    </div>

 *@

<div class="row">
    <div class="col-6"><p style="font-size:50px;font-weight:bold; margin-top:60px;">About As</p></div>
    <div class="col-6">
        <p style="margin-top:60px; font-size:15px;">
            CNET is a techonology campony that develop software, application and othe more.
            It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
            often focusing on providing in-depth reviews and user feedback on various software products.  col-5   w3-animate-zoom
        </p>
    </div>
</div>  

<div class="container " style="padding:50px; margin-top:50px; border:0px solid; border-radius:14px;">
    <div class="row cun">
        <div class="col-5 splash whycar " style="margin-right:40px;border:0px solid black;border-radius:20px; overflow:hidden;background-color: rgb(161, 172, 169);">
            <p>
                CNET software technology are founded in ...CNET is a techonology campony that develop software, application and othe more.
                It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                often focusing on providing in-depth reviews and user feedback on various software products.
            </p>
        </div>
        <div class="col-5 splash  whycar" style="margin-left:40px;border:0px solid black;border-radius:20px;overflow:hidden; background-color: rgb(161, 172, 169);">

            <p>
                CNET is a techonology camponshthat develop software, application and othe more.
                It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                often focusing on providing in-depth reviews and user feedback on various software products.
            </p>
        </div>

    </div>
</div>
<div style="background-color: #ffe6e6;">
    <div class="row" style="margin-top:70px;">
        <div class="col-6 ">
            <div class="container bg-light border-1">
                <div class="border-2 bg-primary" style="border-top-left-radius:20px; border-top-right-radius:20px;">
                    <p style="padding:50px; text-align:center; vertical-align:central; font-size:30px;font-weight:bold;">Our vision</p>
                </div>
                <p>
                    <li>
                        CNET is a techonology campony that develop software, application and othe more.
                        It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                        often focusing on providing in-depth reviews and user feedback on various software products.
                    </li>
                    <li>
                        CNET is a techonology campony that develop software, application and othe more.
                        It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                        often focusing on providing in-depth reviews and user feedback on various software products...
                    </li>
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="container bg-light border-1">
                <div class="border-2 bg-primary" style=" border-top-left-radius:20px; border-top-right-radius:20px;">
                    <p style="padding:50px; text-align:center; vertical-align:central;font-size:30px;font-weight:bold;">Our Mision</p>
                </div>
                <p>
                    <li>
                        CNET is a techonology campony that develop software, application and othe more.
                        It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                        often focusing on providing in-depth reviews and user feedback on various software products.
                    </li>
                    <li>
                        CNET is a techonology campony that develop software, application and othe more.
                        It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                        often focusing on providing in-depth reviews and user feedback on various software products.
                    </li>
                </p>
            </div>

        </div>

    </div>

    <div class="row" style="margin-top:70px;">
        <div class="col-6">
            <div class="container bg-light border-1">
                <div class="border-2 bg-primary" style="border-top-left-radius:20px; border-top-right-radius:20px;">
                    <div style="padding:30px; text-align:center; vertical-align:central; font-size:30px;font-weight:bold;">
                        <p><i class="bi bi-check-square-fill icon-green"></i></p>
                        <p>Core Values</p>
                    </div>

                </div>
                <p>
                    <li>
                        CNET is a techonology campony that develop software, application and othe more.
                        It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                        often focusing on providing in-depth reviews and user feedback on various software products.
                    </li>
                    <li>
                        CNET is a techonology campony that develop software, application and othe more.
                        It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                        often focusing on providing in-depth reviews and user feedback on various software products.
                    </li>
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="container bg-light border-1">

                <li>
                    CNET is a techonology campony that develop software, application and othe more.
                    It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                    often focusing on providing in-depth reviews and user feedback on various software products.
                </li>
                <li>
                    CNET is a techonology campony that develop software, application and othe more.
                    It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                    often focusing on providing in-depth reviews and user feedback on various software products.
                </li>
                <li>
                    CNET is a techonology campony that develop software, application and othe more.
                    It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                    often focusing on providing in-depth reviews and user feedback on various software products.
                </li>
                <li>
                    CNET is a techonology campony that develop software, application and othe more.
                    It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                    often focusing on providing in-depth reviews and user feedback on various software products.
                </li>
                <li>

                    CNET is a techonology campony that develop software, application and othe more.
                    It offers a wide range of software categories, including antivirus, multimedia, system utilities, and productivity tools,
                    often focusing on providing in-depth reviews and user feedback on various software products...
                </li>


            </div>
        </div>

    </div>

</div>



<div class="bi-border-top
bg-primary" style="position:relative;height:100px;width:100%; opacity:0.6; margin-top:50px;border-bottom-left-radius:15px;border-top-left-radius:20px;border-bottom-right-radius:20px;">
    <div class="bg-primary" style="position:absolute; opacity:0.6; top:70px ;height:70px; width:10%;transform:rotate(120deg);border-bottom-right-radius:50px; border-bottom-left-radius:50px;">
        
</div>
    <div class="bg-primary" style="position:absolute;right:20px; opacity:0.6; top:70px ;height:70px; width:10%;transform:rotate(120deg);border-top-left-radius:50px; border-top-right-radius:50px;">
    </div>

</div>
   



<div style="margin-top:100px;">
    <p style="font-weight:bold; font-size:35px; font-family:monospace; text-align:center;">Our Team</p>
    <p style=" font-size:25px; font-family:Arial; text-align:center;">Currently we have more than 50 permanent employee</p>
   <div class="row">
        <div class="col-1">
            
        </div>
       <div class="col-4">
           <hr style="height:10px;" />
       </div>
       <div class="col-1">
         <p>
                <i class="bi bi-star-fill" style="color:orangered;font-size:30px;">
                </i>
         </p>  
       </div>
       <div class="col-4">
            <hr style="height:10px; margin-right:30px;" />
       </div>
        <div class="col-2">
        </div>
   </div>
    
</div>
<div class="con">
    <div class="prof w3-animate-zoom">
        <div class="card bg-primary " style="border:20px solid blue; opacity:0.9;">
            <div class="card-img">
                <img class="card-img-top" src="../Image/yalem.png" alt="image Notdfound" width="30" height="250" />
                <div class="card-body">
                    <p>Yalemzewud yeneneh</p>
                    <p>Asenior software developer</p>
                    <div class="card-link">
                        <a href="#" class="btn btn-outline-secondary text-white">
                            Contact..

                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="prof w3-animate-zoom">
        <div class="card bg-primary " style="border:20px solid blue;opacity:0.9;">
            <div class="card-img">
                <img class="card-img-top" src="../Image/yalem.png" alt="image Not found" width="30" height="250" />
                <div class="card-body">
                    <p>Yalemzewud yeneneh</p>
                    <p>Asenior software developer</p>
                    <div class="card-link">
                        <a href="#" class="btn btn-outline-secondary text-white">
                            Contact..

                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="prof w3-animate-zoom">
        <div class="card bg-primary " style="border:20px solid blue;opacity:0.9;">
            <div class="card-img">
                <img class="card-img-top" src="../Image/yalem.png" alt="image Not found" width="30" height="250" />
                <div class="card-body">
                    <p>Yalemzewud yeneneh</p>
                    <p>Asenior software developer</p>
                    <div class="card-link">
                        <a href="#" class="btn btn-outline-secondary text-white">
                            Contact

                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="prof w3-animate-zoom">
        <div class="card bg-primary " style="border:20px solid blue;opacity:0.9;">
            <div class="card-img">
                <img class="card-img-top" src="../Image/yalem.png" alt="image Not found" width="30" height="250" />
                <div class="card-body">
                    <p>Yalemzewud yeneneh</p>
                    <p>Asenior software developer</p>
                    <div class="card-link">
                        <a href="#" class="btn btn-outline-secondary text-white">
                            Contact

                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="prof w3-animate-zoom">
        <div class="card bg-primary " style="border:20px solid blue;opacity:0.9;">
            <div class="card-img">
                <img class="card-img-top" src="../Image/yalem.png" alt="image Not found" width="30" height="250" />
                <div class="card-body">
                    <p>Yalemzewud yeneneh</p>
                    <p>Asenior software developer</p>
                    <div class="card-link">
                        <a href="#" class="btn btn-outline-secondary text-white">
                            Contact

                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="prof w3-animate-zoom">
        
        <div class="card bg-primary " style="border:20px solid blue;opacity:0.9;">
            <div class="card-img">
                <img class="card-img-top" src="../Image/yalem.png" alt="image Not found" width="30" height="250" />
                <div class="card-body">
                    <p>Yalemzewud yeneneh</p>
                    <p>Asenior software developer</p>
                    <div class="card-link">
                        <a href="#" class="btn btn-outline-secondary text-white">
                            Contact

                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



















<script type="text/javascript">
    let value = 0;
    function update(value) {

        // value = Number(value);
        document.getElementById("inc").innerHTML = value;
    }

    document.getElementById("sub").onclick = function () {
        value = value + 3;
        console.log(value);
        update(value);

    }

</script>


